<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seoul Tour Guide</title>
    <link rel="stylesheet" href="static/css/base.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1><a href="#">SEOUL  TOUR  GUIDE</a></h1>
            <div class="nav">
                <ul>
                    <li><a href="#">도움말</a></li>
                    <li><a href="#">마이페이지</a></li>
                    <li><a href="#">로그인</a></li>
                </ul>
            </div>
        </div>
        <div class="hero">
            <h2>관광지 추천 서비스</h2>
            <p>3조 투어</p>
            <button>시작하기</button>
        </div>
    </div>
</body>
</html>